body {
    font-family: "Geologica";
    margin: 0 auto;
}

.admin-header {
    background: #572dc2;
    background: linear-gradient(90deg,rgba(87, 45, 194, 1) 0%, rgba(75, 125, 219, 1) 100%);
    padding-top: 20px;
    padding-bottom: 30px;
    height: 100%;
}

.admin-header a {
    color: white;
    text-decoration: none;
    transition: 100ms;
}

/* .admin-header a:hover {
    color: rgb(226, 226, 226);
} */

.header-wrapper {
    width: 1280px;
}

.logo-href {
    font-size: 38px;
    font-weight: 600;
    display: block;
}

.title-header-block span {
    display: block;
    margin-top: -4px;
    font-weight: 300;
    font-size: 14px;
    color: rgb(255, 255, 255);
}

.sidebar {
    width: 300px;
}

.sidebar h2 {
    font-size: 24px;
}

.sidebar h3 {
    font-size: 20px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar i {
    width: 20px;
    min-width: 20px;
    max-width: 20px;
}

.admin-container {
    width: 960px;
}

.search-block input {
    width: 600px;
}

.table-wrap {
    border: 1px solid rgba(212, 212, 212, 0.5);
}

table .boost-table-theadd {
    --bs-table-bg: transparent !important;
    /* background: linear-gradient(90deg, rgb(55, 45, 194) 0%, rgba(75, 125, 219, 1) 100%) !important; */
    background: rgb(13, 110, 253);
}

table th {
    color: white !important;
    font-weight: 500;
}

/* .table-wrap table {
    border: 1px solid grey;
}

.table-wrap table th, td {
    border: 1px solid grey;
} */